# API URLs
API_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Database Provider (Choose one)
PROVIDER="@metajobs/next-local"  # Use this for local data
# PROVIDER="@metajobs/next-mongo"  # Use this for MongoDB as the database

# MongoDB Configuration (Required if using MongoDB)
MONGODB_URL="YOUR_MONGODB_URI"

# Contact Information
ADMIN_CONTACT_EMAIL="nhatdang12022k@gmail.com"

# NodeMailer Configuration
# Test Email Configuration (Use an Ethereal account for testing)
# You can create one at https://ethereal.email/create and ensure correct config in `.env`
# Fake email service for testing purposes
------------------------------------------
NODEMAILER_HOST="smtp.ethereal.email"
NODEMAILER_SECURE=STARTTLS
NODEMAILER_PORT="587"
NODEMAILER_EMAIL="brian.johns99@ethereal.email"
NODEMAILER_PASSWORD="854XQxfJRkxfDJCMe4"

# Cloudinary config
CLOUDINARY_API_SECRET="gCdxtOE0TdqT345fEUa6kc3MuTU"
CLOUDINARY_API_KEY="358655538747966"
CLOUDINARY_CLOUD_NAME="df4l3vcrq"

# NEXTAUTH URL
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="Add_32_secret_key_here"

# Github Provider 
GITHUB_ID="Add_Github_ID_Here"
GITHUB_SECRET="Add_Github_Secret_Here"

# Google Provider
GOOGLE_ID="Add_Google_ID_Here"
GOOGLE_SECRET="Add_Google_secret_Here"


# Facebook Provider
FACEBOOK_CLIENT_ID="Add_Facebook_Id"
FACEBOOK_CLIENT_SECRET="Add_Facebook_Secret"

# Linkedin Provider
LINKEDIN_CLIENT_ID="Add_Linkedin_Id"
LINKEDIN_CLIENT_SECRET="Add_Linkedin_Secret"

# Apple Provider
APPLE_ID="Add_Apple_Id"
APPLE_SECRET="Add_Apple_Secret"

# Stripe payment 
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="Add_stripe_Publishable_key"
STRIPE_SECRET_KEY="Add_stripe_Secret_key"